body {
    font-family: Arial, sans-serif;
    background-image: url("1.jpg");
    margin: auto;
    width: 700px;
    padding: 0 46px 16px;
    border: 4px dotted red;
    text-align: center;
}
   
h1 {
	color: #3D989B;
	margin-bottom: 40px;	
}

#sub{
	background-color: red;
	color: white;
}

